@model IEnumerable<WorldCupApplication.Models.Continent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContinentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContinentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContinentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContinentId })
        </td>
    </tr>
}

</table>
