@model IEnumerable<WorldCupApplication.Models.Player>

@{
    ViewBag.Title = "Index";
}

@if (Session["UserID"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedTeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @if (Session["UserID"] != null)
            {
                <p>Action</p>
            }
            else
            {
            }
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.PlayerPosition)
            </td>
            @if (Session["UserID"] != null)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
                </td>
            }
            else
            {
            }
        </tr>
    }

</table>
